.footer {
    background-color: #36337f;
    color: white;
    padding: 1rem;
    text-align: center;
    font-size: 14px;
  }
  
  
  .footer-content span {
    display: block;
    margin: 5px 0;
  }
  