<app-breadcrumbs></app-breadcrumbs>
<ui-table
  [title]="title"
  [displayedColumns]="displayedColumns"
  [dataSource]="requests"
  [columnHeaders]="columnHeaders"
  [showCommonFilters]="true"
  [sortOptions]="sortOptions"
  [showStatusFilter]="true"
  [statusOptions]="statusOptions"
  [showAddButton]="true"
  [showDeleteButton]="true"
  [showSelectButton]="true"
  [showSearchBar]="true"
  [searchColumns]="searchColumns"
  (pageChange)="onPageChange($event)"
  (filterChange)="onFilterChange($event)"
  (addElement)="onAddRequest()"
  (deleteElement)="onDeleteRequest($event)"
  (selectElement)="onSelectRequest($event)"
>
</ui-table>