.btn-finish {
    border-color: #36337f;
    color: #36337f;
}

.btn-finish:hover {
    background-color: #36337f;
    color: #ffffff;
    border-color: #36337f;
}

.btn-finish svg {
    fill: #36337f;
}

.btn-finish:hover svg {
    fill: #ffffff;
}

.mobile-action-btn {
  padding: 0.25rem 0.4rem !important;
  min-width: auto !important;
  align-items: center;
  flex: none;
}

.mobile-btn-icon {
  width: 19px !important;
  height: 19px !important;
  margin: 0 !important;
}