<div class="d-flex justify-content-center mt-5 mb-1 mb-sm-3">
  <div class="card container p-md-3 shadow-sm">
    <div class="card-header d-flex justify-content-between align-items-center">
      <h4 class="text-center mb-0">{{ data.title }}</h4>
    </div>
    <form [formGroup]="form" class="py-3 px-2" (ngSubmit)="onSubmit()">
      <div class="form-group mb-3" *ngFor="let field of data.fields">
        <label [for]="field.name" [class.required]="isRequired(field)">{{ field.label }}</label>
        <ng-container [ngSwitch]="field.type">
          <!-- Campo de texto -->
          <mat-form-field *ngSwitchCase="'date'" appearance="outline" class="w-100 small-field">
            <input matInput [matDatepicker]="pickerDate"
              [id]="field.name"
              name="{{ field.name }}"
              [formControlName]="field.name"
              [placeholder]="field.placeholder || ''"
            >
            <mat-datepicker-toggle matSuffix [for]="pickerDate"></mat-datepicker-toggle>
            <mat-datepicker #pickerDate></mat-datepicker>
          </mat-form-field>
          <input
            *ngSwitchCase="'text'"
            [id]="field.name"
            [formControlName]="field.name"
            class="form-control"
            [type]="field.type"
            [placeholder]="field.placeholder || ''"
          />
          <input
            *ngSwitchCase="'password'"
            [id]="field.name"
            [formControlName]="field.name"
            class="form-control"
            [type]="field.type"
            [placeholder]="field.placeholder || ''"
          />

          <input
            *ngSwitchCase="'textarea'"
            [id]="field.name"
            [formControlName]="field.name"
            class="form-control"
            [type]="field.type"
            [placeholder]="field.placeholder || ''"
          />
          <!-- Campo de selección -->
          <select
            *ngSwitchCase="'select'"
            [id]="field.name"
            [formControlName]="field.name"
            class="form-select"
          >
            <option value="" disabled selected>{{ field.placeholder || 'Seleccione una opción' }}</option>
            <option *ngFor="let option of field.options" [value]="option.value">
              {{ option.label }}
            </option>
          </select>

          <!-- Campo numérico -->
          <input
            *ngSwitchCase="'number'"
            [id]="field.name"
            [formControlName]="field.name"
            class="form-control"
            type="number"
            [placeholder]="field.placeholder || ''"
          />

          <!-- Campo telefono -->
          <input
            *ngSwitchCase="'tel'"
            [id]="field.name"
            [formControlName]="field.name"
            class="form-control"
            type="tel"
            [placeholder]="field.placeholder || ''"
            pattern="[0-9]{10}"
            inputmode="numeric"
          />

          <div class="position-relative" *ngSwitchCase="'searchProducts'">
            <input
              [id]="field.name"
              [formControlName]="field.name"
              class="form-control"
              type="text"
              [placeholder]="field.placeholder || ''"
              (input)="onSearchChange($event, field.name)"
              [value]="getProductLabel(field.name)"
            />
            <ul
              *ngIf="suggestions[field.name]?.length"
              class="list-group position-absolute w-100 bg-white shadow mt-1"
              style="z-index: 1050; max-height: 200px; overflow-y: auto"
            >
              <li
                *ngFor="let option of suggestions[field.name]"
                class="list-group-item list-group-item-action"
                (click)="selectSearchResult(field.name, option)"
              >
                {{ option.label }}
              </li>
            </ul>
          </div>

          <!-- Campo de correo electrónico -->
          <input
            *ngSwitchCase="'email'"
            [id]="field.name"
            [formControlName]="field.name"
            class="form-control"
            type="email"
            [placeholder]="field.placeholder || ''"
          />
        </ng-container>

        <div
          *ngIf="
            form.get(field.name)?.invalid &&
            form.get(field.name)?.touched &&
            field.name !== 'quantity'
          "
          class="text-danger"
        >
          {{ field.errorMessage }}
        </div>

        <div
          *ngIf="
            field.name === 'quantity' &&
            form.get(field.name)?.touched &&
            (form.get(field.name)?.hasError('required') || form.get(field.name)?.hasError('min'))
          "
          class="text-danger"
        >
          {{ field.errorMessage }}
        </div>

        <div
          *ngIf="
            field.name === 'quantity' &&
            form.get(field.name)?.touched &&
            !form.get(field.name)?.hasError('required') &&
            !form.get(field.name)?.hasError('min') &&
            form.get(field.name)?.hasError('quantityInvalid')
          "
          class="text-danger"
        >
          {{ form.get(field.name)?.getError('quantityInvalid') }}
        </div>

        <div
          *ngIf="
            field.name === 'phoneNumber' &&
            form.get(field.name)?.touched &&
            form.get(field.name)?.hasError('required')
          "
          class="text-danger"
        >
          El número de teléfono es requerido.
        </div>

        <div
          *ngIf="
            field.name === 'phoneNumber' &&
            form.get(field.name)?.touched &&
            !form.get(field.name)?.hasError('required') &&
            form.get(field.name)?.hasError('pattern')
          "
          class="text-danger"
        >
          El teléfono debe tener 10 dígitos numéricos.
        </div>

        <div
          *ngIf="
            field.name === 'email' &&
            form.get(field.name)?.touched &&
            form.get(field.name)?.hasError('required')
          "
          class="text-danger"
        >
          El correo electrónico es requerido.
        </div>

        <div
          *ngIf="
            field.name === 'email' &&
            form.get(field.name)?.touched &&
            !form.get(field.name)?.hasError('required') &&
            form.get(field.name)?.hasError('email')
          "
          class="text-danger"
        >
          El correo electrónico no es válido.
        </div>

        <div
          *ngIf="
            field.name === 'password' &&
            form.get(field.name)?.touched &&
            form.get(field.name)?.hasError('required')
          "
          class="text-danger"
        >
          La contraseña es requerida.
        </div>

        <div
          *ngIf="
            field.name === 'password' &&
            form.get(field.name)?.touched &&
            !form.get(field.name)?.hasError('required') &&
            form.get(field.name)?.hasError('minlength')
          "
          class="text-danger"
        >
          La contraseña debe tener al menos 8 caracteres y un número.
        </div>

        <div
          *ngIf="
            field.name === 'password' &&
            form.get(field.name)?.touched &&
            !form.get(field.name)?.hasError('required') &&
            !form.get(field.name)?.hasError('minlength') &&
            form.get(field.name)?.hasError('pattern')
          "
          class="text-danger"
        >
          La contraseña debe contener al menos un número.
        </div>
      </div>
      @if (showButtons) {
        <div class="form-actions d-flex justify-content-end gap-4 mt-3">
          <button type="button" class="btn btn-secondary" (click)="onCancel()">Cancelar</button>
          <button type="submit" class="btn btn-primary" [disabled]="form.invalid">Guardar</button>
        </div>
      }
    </form>
  </div>
</div>
