<div class="card">
  <div class="d-flex flex-column align-items-center">
    <h2 class="form-title mb-4 text-center">{{ data.title }}</h2>
    <form [formGroup]="form" (ngSubmit)="onSubmit()">
      <div class="form-group" *ngFor="let field of data.fields">
        <label [for]="field.name" class="form-label">{{ field.label }}</label>
        <ng-container [ngSwitch]="field.type">
          <input
            *ngSwitchCase="'text'"
            [id]="field.name"
            [formControlName]="field.name"
            class="form-control"
            [type]="field.type"
            [placeholder]="field.placeholder || ''"
          />
          <select
            *ngSwitchCase="'select'"
            [id]="field.name"
            [formControlName]="field.name"
            class="form-select"
          >
            <option *ngFor="let option of field.options" [value]="option.value">
              {{ option.label }}
            </option>
          </select>
        </ng-container>
        <div
          *ngIf="form.get(field.name)?.invalid && form.get(field.name)?.touched"
          class="text-danger"
        >
          {{ field.errorMessage }}
        </div>
      </div>
      <div class="form-actions d-flex justify-content-between mt-3">
        <button type="button" class="btn btn-secondary" (click)="onCancel()">
          Cancelar
        </button>
        <button type="submit" class="btn btn-primary" [disabled]="form.invalid">
          Guardar
        </button>
      </div>
    </form>
  </div>
</div>

  
