<ui-table
  [title]="title"
  [displayedColumns]="displayedColumns"
  [mobileColumns]="mobileColumns"
  [dataSource]="centers"
  [columnHeaders]="columnHeaders"
  [mobileHeaders]="mobileHeaders"
  [showAddButton]="true"
  [showEditButton]="true"
  [showDeleteButton]="true"
  [showSelectButton]="true"
  
  [showCommonFilters]="true"
  [showSearchBar]="true"
  [sortOptions]="sortOptions"
  (filterChange)="onFilterChange($event)"
  (addElement)="onAddCenter()"
  (editElement)="onEditCenter($event)"
  (deleteElement)="onDeleteCenter($event)"
  (selectElement)="onSelectCenter($event)"
>
</ui-table>