<nav class="navbar navbar-expand-lg navbar-light" [class.hidden]="!isVisible">
  <div class="container-fluid">
    <a class="navbar-brand" routerLink="/home">
      <img src="assets/png-transparent-caritas.png" width="50" height="50"
            alt="Descripción de la imagen">
    </a>
    <button 
      class="navbar-toggler" 
      type="button" 
      data-bs-toggle="collapse" 
      data-bs-target="#navbarNav" 
      aria-controls="navbarNav" 
      aria-expanded="false" 
      aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav ms-auto">
        <li class="nav-item">
          <a class="nav-link" routerLink="/home" routerLinkActive="active">Inicio</a>
        </li>
        @if (checkUserRole("Admin")) {
          <li class="nav-item">
            <a class="nav-link" routerLink="/requests" routerLinkActive="active">Solicitudes</a>
          </li>
        }
        <li class="nav-item">
          <a class="nav-link" routerLink="/centers" routerLinkActive="active">Centros</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-danger" (click)="logout()">Cerrar sesión</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
