.notification-container {
    position: relative;

    .dropdown-toggle {
        &::after {
            display: none;
        }
    }
}

/* Animaciones */
@keyframes fadeSlideIn {
    from {
        opacity: 0;
        transform: translateY(-10px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes fadeSlideOut {
    from {
        opacity: 1;
        transform: translateY(0);
    }

    to {
        opacity: 0;
        transform: translateY(-10px);
    }
}

.fade-in {
    animation: fadeSlideIn 0.5s ease forwards;
}

.fade-out {
    animation: fadeSlideOut 0.9s ease forwards;
}

.notification-dropdown {
    margin-top: 10px;
    overflow-y: auto;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}

@media (max-width: 991px) {
.notification-dropdown {
    position: fixed;
    top: 60px;
    left: 10px;
    right: 10px;
    width: auto;
    max-width: none;
    margin: 0;
    margin-top: 10px;
    transform: none;
    max-height: 80vh;
}
}

@media (min-width: 992px) {
    .notification-dropdown {
        min-width: 500px;
        max-height: 75vh;
    }
}

.notification-item {

    .notification-title {
        font-size: 15px;
        font-weight: 800;
    }

    .notification-message {
        font-size: 14px;
        white-space: normal;
        word-break: break-word;
    }

    .notification-time {
        font-size: 12px;
        color: #6c757d;
    }
}

.notification-actions {
    display: flex;
    gap: 8px;
    margin-top: 8px;
    flex-wrap: wrap;

    .action-btn {
        flex: 1;
        min-width: 100px;
        padding: 4px 8px;
        border-radius: 4px;
        font-size: 12px;
        border: 1px solid #36337f;
        color: #36337f;
        background: white;
    }

    .action-btn:hover {
        background-color: #27246f;
        border-color: #27246f;
        color: white;
    }
}