<app-breadcrumbs></app-breadcrumbs>

<div class="mb-md-3">
  <div class="d-flex justify-content-center mt-5">
    <div class="card container w-100 w-md-75 mx-auto p-md-3 shadow-sm">
      <div class="card-header d-md-flex justify-content-md-between align-items-center">
        <h5 class="mb-md-0">Asignar linea de pedido Nro. {{ orderLineId }}</h5>
        <button class="btn btn-outline-secondary btn-sm" (click)="goBack()">Volver</button>
      </div>
      <div class="row align-items-center py-4 g-4 px-3">
        <div class="col-sm-6">
          <span class="fw-medium">Centro solicitante:</span>
          <span class="ps-2">{{ request.requestingCenter?.name }}</span>
        </div>
        <div class="col-sm-6">
          <span class="fw-medium">Fecha:</span>
          <span class="ps-2">{{ request.requestDate | date: 'dd/MM/yyyy' }}</span>
        </div>
        <div class="col-sm-6">
          <span class="fw-medium">Nivel de urgencia:</span>
          <span class="ps-2">{{ request.urgencyLevel }}</span>
        </div>
        <div class="col-sm-6">
          <span class="fw-medium">Producto:</span>
          <span class="ps-2">{{ product.name }}</span>
        </div>
        <div class="col-sm-6">
          <span class="fw-medium">Cantidad solicitada:</span>
          <span class="ps-2">{{ orderLine.quantity }}</span>
        </div>
        <div class="col-sm-6">
          <span class="fw-medium">Cantidad pendiente:</span>
          <span class="ps-2">{{ pendingQuantity }}</span>
        </div>
      </div>
    </div>
  </div>
</div>

@if (request.id) {
  <ui-table
    [title]="title"
    [displayedColumns]="displayedColumns"
    [dataSource]="stocks"
    [columnHeaders]="columnHeaders"
    [customActions]="actionTemplate"
    [showAddButton]="false"
    [showEditButton]="false"
    [showDeleteButton]="false"
    [showSelectButton]="false"
    (addElement)="(onAddElement)"
    (editElement)="(onEditElement)"
    (deleteElement)="(onDeleteElement)"
    (selectElement)="(onSelectElement)"
  >
  </ui-table>

  <ng-template #actionTemplate let-row>
    <div class="d-flex gap-2 align-items-center">
      <input type="number" class="form-control form-control-sm" style="width: 80px;" [(ngModel)]="row.assignQuantity"
        [min]="1" [max]="getMaxAssignableQuantity(row)" />

        <button class="btn btn-outline-primary btn-sm" (click)="assign(row)">
          <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
            <path
              fill="currentColor"
              d="M19 3h-4.18C14.4 1.84 13.3 1 12 1s-2.4.84-2.82 2H5c-1.1 0-2 .9-2 2v14c0 1.1.9 2 2 2h14c1.1 0 2-.9 2-2V5c0-1.1-.9-2-2-2m-7 0c.55 0 1 .45 1 1s-.45 1-1 1s-1-.45-1-1s.45-1 1-1m4 12h-4v3l-5-5l5-5v3h4z"
            />
          </svg>
          Seleccionar
        </button>
    </div>
  </ng-template>
}
