<app-breadcrumbs></app-breadcrumbs>

<div class="mb-md-3">
  <div class="d-flex justify-content-center mt-5">
    <div class="card container w-100 w-md-75 mx-auto p-md-3 shadow-sm">
      <div class="card-header d-md-flex justify-content-md-between align-items-center ">
        <h5 class="mb-md-0">Detalles del Usuario: {{ user.userName }}</h5>
        <button class="btn btn-outline-secondary btn-sm" (click)="goBack()">Volver</button>
      </div>
      <div class="row align-items-center py-4 g-4 px-3">
        <div class="col-sm-6">
          <label class="fw-medium">Email:</label>
          <span class="ps-2">{{ user.email }}</span>
        </div>
        <div class="col-sm-6">
          <label class="fw-medium">Nombre:</label>
          <span class="ps-2">{{ user.firstName }}</span>
        </div>
        <div class="col-sm-6">
          <label class="fw-medium">Apellido:</label>
          <span class="ps-2">{{ user.lastName }}</span>
        </div>
        <div class="col-sm-6">
            <label class="fw-medium">Teléfono:</label>
            <span class="ps-2">{{ user.phoneNumber }}</span>
        </div>
        <div class="col-sm-6">
            <label class="fw-medium">Rol:</label>
            <span class="ps-2">{{ user.role }}</span>
        </div>
        <div class="col-sm-6">
            <label class="fw-medium">Centro:</label>
            <span class="ps-2">{{ user.centerName }}</span>
        </div>
      </div>
    </div>
  </div>
