<div class="mb-md-3">
  <div class="d-flex justify-content-center mt-5">
    <div class="card container w-100 w-md-75 mx-auto p-md-3 shadow-sm">
      <div class="card-header d-sm-flex justify-content-sm-between align-items-center">
        <h5 class="mb-md-0">Detalles de la solicitud Nro. {{ request.id }}</h5>
        <button class="btn btn-outline-secondary btn-sm" (click)="goBack()">Volver</button>
      </div>
      <div class="row align-items-center py-4 g-4 px-3">
        <div class="col-sm-6">
          <span class="fw-medium">Centro solicitante:</span>
          <span class="ps-2">{{ request.requestingCenter?.name }}</span>
        </div>
        <div class="col-sm-6">
          <span class="fw-medium">Nivel de urgencia:</span>
          <span class="ps-2">{{ request.urgencyLevel }}</span>
        </div>
        <div class="col-sm-6">
          <span class="fw-medium">Fecha:</span>
          <span class="ps-2">{{ request.requestDate | date: 'dd/MM/yyyy' }}</span>
        </div>
        <div class="col-sm-6">
          <span class="fw-medium">Hora:</span>
          <span class="ps-2">{{ request.requestDate | date: 'HH:mm' }}</span>
        </div>
      </div>
    </div>
  </div>

  @if (request.id) {
    <ui-table
      [title]="title"
      [displayedColumns]="displayedColumns"
      [mobileColumns]="mobileColumns"
      [mobileHeaders]="mobileHeaders"
      [dataSource]="orderLines"
      [columnHeaders]="columnHeaders"
      [customActions]="actionTemplate"
      [showAddButton]="false"
      [showFilterButton]="false"
      [showEditButton]="false"
      [showDeleteButton]="false"
      [showSelectButton]="true"
      (addElement)="(onAddElement)"
      (editElement)="(onEditElement)"
      (deleteElement)="(onDeleteElement)"
      (selectElement)="onSelectOrderLine($event)"
    >
    </ui-table>

    <ng-template #actionTemplate let-row>
      <button class="btn btn-assign"
        [ngClass]="isMobile ? 'btn-outline-primary btn-xs mobile-action-btn' : 'btn-outline-primary btn-sm'"
        (click)="assign(row)" [disabled]="request.status !== 'Pendiente' || (row.status !== 'Pendiente' && row.status !== 'Parcial')">
        <svg xmlns="http://www.w3.org/2000/svg" [ngClass]="isMobile ? 'mobile-btn-icon' : ''"  [attr.width]="isMobile ? '16' : '24'" [attr.height]="isMobile ? '16' : '24'"
          viewBox="0 0 24 24">
          <path fill="currentColor"
            d="M19 3h-4.18C14.4 1.84 13.3 1 12 1s-2.4.84-2.82 2H5c-1.1 0-2 .9-2 2v14c0 1.1.9 2 2 2h14c1.1 0 2-.9 2-2V5c0-1.1-.9-2-2-2m-7 0c.55 0 1 .45 1 1s-.45 1-1 1s-1-.45-1-1s.45-1 1-1m4 12h-4v3l-5-5l5-5v3h4z" />
        </svg>
        <span *ngIf="!isMobile">Asignar</span>
      </button>
    </ng-template>
    
  }
</div>
