
<div class="mb-md-3">
  <div class="d-flex justify-content-center mt-5">
    <div class="card container w-100 w-md-75 mx-auto p-md-3 shadow-sm">
      <div class="card-header d-md-flex justify-content-md-between align-items-center">
        <h5 class="mb-md-0">Detalles del producto Nro. {{ product.id }}</h5>
        <button class="btn btn-outline-secondary btn-sm" (click)="goBack()">Volver</button>
      </div>
      <div class="row align-items-center py-4 g-4 px-3">
        <div class="col-sm-6">
          <label class="fw-medium">Nombre:</label>
          <span class="ps-2">{{ product.name }}</span>
        </div>
        <div class="col-sm-6">
          <label class="fw-medium">Categoria del producto:</label>
          <span class="ps-2">{{ category.name }}</span>
        </div>
        <div class="col-sm-6">
          <label class="fw-medium">Ver como plantear stock:</label>
          <span class="ps-2"></span>
        </div>
      </div>
    </div>
  </div>
</div>
