@if (isAdmin) {
<div class="container mt-2 mt-sm-5">
  <div class="row justify-content-center align-items-center">
    <!-- select -->
    <div class="col-md-6 col-sm-12">
      <div class="row align-items-center">
        <div class="col-12 col-md-auto">
          <label for="selectCenter" class="col-form-label mb-0">Seleccione el centro para ver stock:</label>
        </div>
        <div class="col-12 col-md">
          <select id="selectCenter" class="form-select" [(ngModel)]="selectedCenter" (change)="filterStocks()">
            <option [ngValue]="null">Todos</option>
            <option *ngFor="let center of centers" [ngValue]="center.id"
              [ngClass]="selectedCenter === center.id ? 'selected' : ''">
              {{ center.name }}
            </option>
          </select>
        </div>
      </div>
    </div>

    <!-- switch -->
    <div class="col-md-6 col-sm-12 mt-2 mt-md-0 text-center">
      @if (selectedCenter === null) {
      <div class="form-check form-switch d-flex justify-content-center align-items-center gap-2">
        <input class="form-check-input" id="checkBreackdown" type="checkbox" role="switch" [(ngModel)]="groupByCenter"
          (change)="loadStock()" />
        <label class="form-check-label" for="checkBreackdown">
          Desglosar por centro
        </label>
      </div>
      }
    </div>

  </div>
</div>
}

<ui-table
  [title]="title"
  [displayedColumns]="displayedColumns"
  [dataSource]="stocks"
  [columnHeaders]="columnHeaders"
  [mobileColumns]="mobileColumns"
  [mobileHeaders]="mobileHeaders"
  [showAddButton]="showAddButton"
  [showSelectButton]="showSelectButton"
  [showSearchBar]="true"
  [showProductsFilters]="true"
  [categories]="categories"
  [sortOptions]="sortOptions"
  [searchColumns]="searchColumns"
  (pageChange)="onPageChange($event)"
  (filterChange)="onFilterChange($event)"
  (addElement)="onAddStock()"
  (selectElement)="onSelectStock($event)"
>
</ui-table>
