<div class="login-card">
  <div class="card-title">
      <h1>Bienvenido al sistema de gestión de inventario de Cáritas</h1>
      <p class="subtitle">Por favor, ingrese sus credenciales para continuar.</p>
  </div>
  <form class="form-group" [formGroup]="loginForm" (ngSubmit)="onSubmit()">
    <input name="username" type="text" formControlName="username" placeholder="Nombre de usuario" />
    <input type="password" formControlName="password" placeholder="Contraseña" />
    <button type="submit">Ingresar</button>
  </form>
  <div *ngIf="errorMessage" class="error-message" [innerHTML]="errorMessage"></div>
</div>
