<div class="unauthorized-container">
  <div class="message-box">
    <div class="alert-icon">
      <svg
        xmlns="http://www.w3.org/2000/svg"
        width="100"
        height="100"
        viewBox="0 0 24 24"
        class="alert-svg"
      >
        <path
          fill="currentColor"
          d="M13 13h-2V7h2m0 10h-2v-2h2M12 2A10 10 0 0 0 2 12a10 10 0 0 0 10 10a10 10 0 0 0 10-10A10 10 0 0 0 12 2"
        />
      </svg>
    </div>

    <h1>Acceso Denegado</h1>
    <p>Lo siento, no tienes permiso para acceder a esta página.</p>
    <button (click)="goHome()" class="btn-go-home">Volver al inicio</button>
  </div>
</div>
