.button-add{
    background-color: #36337f;
    border-color: #36337f;
}

.button-add:hover{
    background-color: #27246f;
    border-color: #27246f;
}

.btn-group .btn-outline-primary {
    border-color: #36337f;
    color: #36337f;
}

.btn-group .btn-outline-primary:hover {
    background-color: #36337f;
    color: #ffffff;
    border-color: #36337f;
}

.btn-group .btn-outline-primary svg {
    fill: #36337f;
}

.btn-group .btn-outline-primary:hover svg {
    fill: #ffffff;
}

.fixed-width-column {
    min-width: 150px; 
    max-width: 150px;
    white-space: nowrap; 
    overflow: hidden;
    text-overflow: ellipsis;

}

.transition-icon {
    transition: transform 0.3s ease;
}

.rotate-icon {
    transform: rotate(180deg);
}


.filters-container {
    opacity: 0;
    visibility: hidden;
    max-height: 0;
    overflow: hidden;
    transition: opacity 0.5s ease, visibility 0.5s ease, max-height 0.5s ease;
  }
  
  .filters-container.visible {
    max-height: 200px;
    visibility: visible;
    opacity: 1;
  }