<div class="card">
  <div class="card-header d-flex justify-content-between align-items-center">
    <h5 class="mb-0">{{ title }}</h5>
    <button class="btn btn-primary btn-sm" (click)="onAddElement()">Agregar Nuevo</button>
  </div>
  <div class="table-responsive">
    <table mat-table [dataSource]="dataSource" class="table table-hover table-borderless">
      <ng-container *ngFor="let column of displayedColumns" [matColumnDef]="column">
        <th mat-header-cell *matHeaderCellDef class="border-bottom">
          {{ columnHeaders[column] || column | titlecase }}
        </th>
        <td mat-cell *matCellDef="let element" class="border-bottom">{{ element[column] }}</td>
      </ng-container>

      <ng-container matColumnDef="actions">
        <th mat-header-cell *matHeaderCellDef class="border-bottom">Acciones</th>
        <td mat-cell *matCellDef="let element" class="border-bottom">
          <div class="btn-group">
            <button class="btn btn-outline-primary btn-sm" (click)="onEditElement(element)">
              <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path fill="currentColor" d="M9 17h2V8H9zm4 0h2V8h-2zm-8 4V6H4V4h5V3h6v1h5v2h-1v15z"/></svg>
              Editar</button>
            <button class="btn btn-outline-primary btn-sm" (click)="onDeleteElement(element)">
              <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path fill="currentColor" d="M9 15v-4.25L19.625.125L23.8 4.4L13.25 15zm10.6-9.2l1.425-1.4l-1.4-1.4L18.2 4.4zM3 21V3h10.925L7 9.925V17h7.05L21 10.05V21z"/></svg>
              Eliminar</button>
          </div>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="columnsToDisplay"></tr>
      <tr mat-row *matRowDef="let row; columns: columnsToDisplay;"></tr>

    </table>
  </div>
</div>

