<ui-table
  [title]="title"
  [displayedColumns]="displayedColumns"
  [searchColumns]="searchColumns"
  [dataSource]="products"
  [columnHeaders]="columnHeaders"
  [mobileColumns]="mobileColumns"
  [mobileHeaders]="mobileHeaders"
  [showAddButton]="true"
  [showEditButton]="true"
  [showDeleteButton]="true"
  [showSelectButton]="true"
  [showProductsFilters]="true"
  [showSearchBar]="true"
  [categories]="categories"
  [sortOptions]="sortOptions"
  [canEdit]="canEdit"
  [canDelete]="canDelete"
  [canAdd]="canAdd"
  (pageChange)="onPageChange($event)"
  (filterChange)="onFilterChange($event)"
  (addElement)="onAddProduct()"
  (deleteElement)="onDeleteProduct($event)"
  (selectElement)="onSelectProduct($event)"
>
</ui-table>
