<ui-table
    [title]="title"
    [displayedColumns]="displayedColumns"
    [searchColumns]="searchColumns"
    [dataSource]="products"
    [columnHeaders]="columnHeaders"
    [showAddButton]="true"
    [showEditButton]="true"
    [showDeleteButton]="true"
    [showSelectButton]="true"
    [showProductsFilters]="true"
    [showSearchBar]="true"
    [categories]="categories"
    [sortOptions]="sortOptions"
    (pageChange)="onPageChange($event)"
    (filterChange)="onFilterChange($event)"
    (addElement)="onAddProduct()"
    (editElement)="onEditProduct($event)"
    (deleteElement)="onDeleteProduct($event)"
    (selectElement)="onSelectProduct($event)">
</ui-table>
