@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
@import '../node_modules/ngx-toastr/toastr.css';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

@media (min-width: 768px) {
  body {
    padding-top: 0;
  }
}

.toast-bottom-center-custom {
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 9999;
}

.ngx-pagination {
  padding-left: 0 !important;
}
