@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
@import '../node_modules/ngx-toastr/toastr.css';
@import '@angular/material/prebuilt-themes/indigo-pink.css';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

@media (min-width: 768px) {
  body {
    padding-top: 0;
  }
}

.toast-bottom-center-custom {
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 9999;
}

.ngx-pagination {
  padding-left: 0 !important;
}

table tr.bg-success-light {
  --bs-table-bg: rgba(40, 167, 70, 0.2) !important;
  background-color: rgba(40, 167, 70, 0.2) !important;
}

table tr.bg-danger-light {
  --bs-table-bg: rgba(220, 53, 69, 0.1) !important;
  background-color: rgba(220, 53, 69, 0.1) !important;
}

/* This style will add a red asterisk after any label that has the 'required' class */
label.required::after {
  content: ' *'; /* The space before the asterisk is important */
  color: #ae3336; /* Using the red color from your project's theme */
  font-weight: bold;
}